<?php
   use ui\UI;
   use Scandio\lmvc\modules\assetpipeline\view\Asset;
   use Scandio\lmvc\modules\security\handlers\database\models;
   use Scandio\lmvc\modules\security\Security;
   use Scandio\lmvc\modules\htmltag\Html;
?>

<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="">
      <meta name="author" content="Scandio GmbH">

      <title>Scandios Gifs</title>

      <?= UI::css(Asset::assets(['bootstrap.css'], [])) ?>
      <?= UI::css(Asset::assets(['styles.less'], [])) ?>

      <?= UI::js(Asset::assets(['jquery.js', 'bootstrap.js'], ['min'])) ?>
      <?= UI::js(Asset::assets(['main.js'], ['min'])) ?>
   </head>

   <body>
      <div class="navbar navbar-inverse navbar-fixed-top">
         <div class="container">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
               </button>

               <a class="navbar-brand" href="<?= $app->url('Application::index') ?>">Gifs</a>
            </div>
            <div class="collapse navbar-collapse">
               <ul class="nav navbar-nav">
               </ul>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="lmvc-gif">
            <header>
               <h1>Scandios Gifs</h1>
            </header>

            <?php include($app->view) ?>
         </div>
      </div>
   </body>
</html>
